body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    text-align: center;
}

/* Header */
.header {
    background: #1e3a5f;
    color: white;
    padding: 20px;
}

.header h1 {
    margin: 0;
}

.header p {
    margin-top: 5px;
    font-size: 14px;
}

/* Input Card */
.card {
    background: white;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}

.buttons button {
    padding: 10px 18px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
}

.download {
    background: #1e3a5f;
    color: white;
    border: none;
}

/* Certificate */
#certificate-container {
    position: relative;
    width: 1000px;
    margin: 30px auto;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.bg {
    width: 100%;
}

#nameField {
    position: absolute;
    top: 265px;          /* Correct vertical position */
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    font-weight: bold;
    font-family: "Times New Roman", serif;
    color: black;
    text-align: center;
    width: 70%;
}
